# Verzeichnisse für Build-Artefakte
bin/
obj/

# IDE / Editor
.vscode/
.idea/
*.user
*.suo
*.vs/

# Git Dateien
.git/
.gitignore

# Logs und temporäre Dateien
*.log
*.tmp
*.temp

# Docker Compose oder andere lokale Konfigurationsdateien
docker-compose.yml

# Dokumentation
README.md
*.md
